Source: ircmarkers
Section: net
Priority: optional
Maintainer: Christoph Berg <cb@df7cb.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.1

Package: ircmarkers
Architecture: any
Depends: libttf2, libgd-gd2-perl, ${shlibs:Depends}, ${misc:Depends}
Description: place markers on maps at given coordinates
 IrcMarkers takes a map in .png or .jpg format and a list of coordinates
 and labels in xplanet format and places the labels on the map.
 It was written to generate user maps of IRC channels.
 .
 IrcMarkers is an improved version of MapMarkers.
